/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  height: 50%;
  width: 30%;
  border-radius: 10px;
  padding: 35px;
}
.heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 30px;
}
.para {
  font-family: 'Roboto';
  color: #334155;
  font-weight: bold;
  font-size: 20px;
}
.button {
  background-color: #e2a139;
  color: #a35200;
  font-family: 'Roboto';
  border-radius: 5px;
  border-width: 0px;
  margin: 8px;
  height: 30px;
  width: 100px;
  font-weight: 1000;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Roboto';
  color: #475569;
}
.img-container {
  margin: 15px;
}
